numpy>=1.26.4
scipy>=1.14.1
pandas>=2.2.3
torch>=2.6.0
torchvision>=0.21.0
opencv-python>=4.10.0
Pillow>=11.0.0
pycocotools>=2.0.8
rasterio>=1.4.3
pyproj>=3.7.1
shapely>=2.0.7
networkx>=3.4.2
elkai>=2.0.1
openpyxl>=3.1.5
matplotlib>=3.9.2
tqdm>=4.67.1
open3d>=0.19.0
scikit-image>=0.24.0
